/* Estilos Generales y Variables */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
:root{
    --main-color:#ff702a;
    --secondary-color:#feeee7;
    --text-color:#fff;
    --bg-color:#1e1c2a;
    --big-font:4rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}
*::selection{
    background: var(--main-color);
    color:#fff;
}
body{
   color: var(--text-color);
   background: var(--bg-color);
   margin-top: 118px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

/* Header y Logo */
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background: var(--bg-color);
}
.logo{
    color: var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}

/* Navbar */
.navbar{
    display: flex;
}
.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;
}
.navbar a:hover{
    color: var(--main-color);
    transition: .4s;
}

/* Menu Icon */
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

/* Secciones Generales */
section{
    padding: 70px 17%;
}

/* Botón General */
.btn, .btn-inf{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
    margin-right: 10px;
}
.btn:hover, .btn-inf:hover{
    transform: scale(1.2) translateY(10px);
    transition: .4s;
}
.btn:last-child {
    margin-right: 0; 
}

/* Estilos Específicos de Pantallas y Elementos */
#pantalla-juego, #pantalla-final{
    display: none;
}
.pantalla-juego{
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}
.opciones{
    max-width: 400px;
    margin: auto;
}
.opcion{
    display: flex;
    position: relative;
    align-items: center;
    max-width: 400px;
    margin: 30px auto;
    cursor: pointer;
}

/* Estilos para Letras y Nombres en Opciones */
.opcion .letra, #pantalla-final #numCorrectas, #pantalla-final #numIncorrectas{
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 35px;
    border: 5px solid #fff;
    position: relative;
}
.opcion .nombre{
    background: var(--main-color);
    width: 100%;
    font-size: 25px;
    position: absolute;
    margin-left: 30px;
    z-index: -2;
    border-radius: 0 20px 20px 0;
}

/* Estilos para Respuestas Correctas e Incorrectas */
.opcion .nombreAcertada, .opcion .letraAcertada{
    background-color: yellowgreen;
    color: #fff;
}
.opcion .nombreNoAcertada, .opcion .letraNoAcertada{
    background-color: darkred;
    color: #fff;
}

/* Media Queries para Responsividad */
@media (max-width: 1560px){
    header{
        padding: 15px 40px;
    }
    :root{
        --big-font: 3.5rem;
        --h2-font:2rem;
    }
}
@media (max-width: 1140px){
    section{
        padding: 50px 8%;
    }
    #menu-icon{
        display: initial;
        color:var(--text-color);
    }
    header .navbar{
        position: absolute;
        top: -400px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        background:#2b2640;
        transition: .3s;
    }
    header .navbar.active{
        top: 70px;
    }
    .navbar a{
        padding: 1.5rem;
        display: block;
    }
    .col{
        width:50%;
        margin-bottom: 10px;
    }
}
@media (max-width: 720px){
   .header{
    padding: 10px 16px;
   }
   .home, .about{
    grid-template-columns: 1fr;
    text-align: center;
   }
   .about-img{
    order:2;
   }
   section{
    padding: 100px 7%;
   }
}
@media(max-width: 75px){
    .col{
        width: 100%;
    }
}
#pantalla-inicial {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* O la altura que prefieras */
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Asegúrate de que ocupa todo el ancho */
    padding: 10px 0; /* Ajusta el relleno según sea necesario */
}
.btn {
    padding: 15px 30px; /* Aumenta el relleno para hacer el botón más grande */
    font-size: 1.5rem; /* Aumenta el tamaño de la fuente para que coincida con el tamaño del botón */
    border-radius: 8px; /* Ajusta el radio del borde si es necesario */
}

